.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.users {
  width: 500px;
}
.users > li {
  display: flex; 
  text-align: left;
  line-height: 38px;
  border-bottom: 1px dotted #ccc;
}
.users > li > div {
  flex: 1;
}

.comment-form{
  border: 1px solid #333;
  padding: 10px;
}
.form-item {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.form-label {
  width: 200px;
  font-size: 14px;
}
.form-content {
  flex: 1
}
.form-content > input, .form-content > textarea {
  width: 100%;
}

.comments {
  text-align: left;
  font-size: 14px;
}
.comments .name {
  color: #ccc;
}

/* game */
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
